<section
  class="about-section section-padding"
  data-aos="fade-up">

<section
  id="about"
  class="section-padding">

  <div class="container-custom">

    <div class="row align-items-center">

      <div class="col-lg-6">
        <img
          src="assets/images/about.jpg"
          class="img-fluid rounded-4">
      </div>

      <div class="col-lg-6">

        <h2 class="section-title">
          About Us
        </h2>

        <p class="section-subtitle">

          VOLTZVITAL Environment Consultants
          Private Limited is a forward-thinking
          environmental and sustainability
          consulting company focused on
          delivering innovative and responsible
          solutions for modern industries.

        </p>

        <div class="about-points">

          <div>✔ Sustainable Consulting</div>
          <div>✔ Energy Advisory</div>
          <div>✔ Infrastructure Support</div>
          <div>✔ Environmental Compliance</div>

        </div>

      </div>

    </div>

  </div>

</section>