<section
  class="hero-section"
  data-aos="zoom-in">
<section class="hero-section">

  <div class="container-custom hero-wrapper">

    <div class="hero-content">

      <h1>
        Sustainable Environmental
        & Energy Consulting Solutions
      </h1>

      <p>
        Delivering innovative environmental,
        sustainability, and infrastructure
        consulting services for a greener future.
      </p>

      <div class="hero-buttons">
        <button class="primary-btn">
          Explore Services
        </button>

        <button class="secondary-btn">
          Contact Us
        </button>
      </div>

    </div>

    <div class="hero-image">
      <img src="assets/images/logo.png" alt="">
    </div>

  </div>

</section>