.footer {
  background: #020817;
  color: white;
  padding-top: 80px;
}

.footer-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 50px;
}

.footer-logo {
  width: 180px;
  margin-bottom: 20px;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 15px;
}

.footer a {
  color: white;
  text-decoration: none;
}

.footer-bottom {
  border-top: 1px solid rgba(255,255,255,0.1);
  padding: 30px 0;
  margin-top: 50px;
  text-align: center;
}
@media (max-width: 992px) {

  .hero-wrapper,
  .contact-wrapper,
  .footer-grid,
  .leadership-grid,
  .sectors-grid,
  .why-grid {

    grid-template-columns: 1fr !important;
    flex-direction: column;
  }

  .hero-content h1 {
    font-size: 42px;
  }

  .nav-links {
    display: none;
  }

}