<section
  id="vision"
  class="section-padding">

  <div class="container-custom">

    <div class="row g-4">

      <div class="col-lg-6">

        <div class="vision-card">

          <h3>Vision</h3>

          <p>
            To become a trusted leader
            in environmental and
            sustainability consulting.
          </p>

        </div>

      </div>

      <div class="col-lg-6">

        <div class="mission-card">

          <h3>Mission</h3>

          <p>
            Empowering organizations
            with sustainable and
            future-ready environmental
            solutions.
          </p>

        </div>

      </div>

    </div>

  </div>

</section>